<div id="carouselEmailIndica" class="carousel slide" data-ride="carousel">

    <ol class="carousel-indicators">
        <li data-target="carouselEmailIndica" class="active"> </li>

    </ol>
    <div class="carousel-inner"> 
        <div class="carousel-item active">
            <img src="..." class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
                <img src="..." class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
                <img src="..." class="d-block w-100" alt="...">
        </div>
</div>